#!/usr/bin/env ruby

preprocess do
  # authors may unpublish items by setting meta attribute publish: false
  items.delete_if { |item| item[:publish] == false }

  copy_static
  create_tag_pages
  create_language_pages
  create_archive_pages
end

compile '/css/_*' do
  # Don't compile partials
end

compile '/css/*' do
  filter :sass, {
    :load_paths => [Dir.pwd+"/content/css"],
    :full_exception => true,
    :style => :compressed,
    :syntax => :scss
  }
end

compile '*' do
  unless item[:publish] == false
    # item[:extension] returns 'html.erb' for multi-dotted filename
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last
  
    unless rep.binary?
      filter :erb
      case ext
      when 'html', 'xml'
      when 'textile'
        filter :redcloth
        filter :rubypants
      when 'md','markdown'
        filter :rdiscount, :extensions => [:smart]
      when 'haml', nil
        filter :haml, :format => :html5, :ugly => true
      else
        raise "Filter is not configured for #{item.identifier} in Rules file."
      end
    
      layout item[:layout] || 'default'
    end
  end
end

route '/css/*' do
  unless item.identifier.include? '/_'
    # only render non-partial css files
    item.identifier.gsub(/\/$/, '') + '.css'
  end
end

route '*' do
  route_path(item)
end

layout '*', :haml, {
  :format => :html5,
  :ugly => :true
}
