<div id="info">
  <h2>Holger Just</h2>
  <p>
    This is my personal website about computers, operating systems, teh
    internets and my way around it. Sometimes you will find a short blip
    of my offline life.
  </p>
  <p>
    More about me can be found on
    <a href="http://twitter.com/meineerde">Twitter</a> and
    <a href="http://xing.com/profile/Holger_Just">Xing</a>. You can also
    write an e-mail to <em>web (at) meine-er (dot) de</em>.
  </p>
</div>
<div id="twitter">
  <h2>The real life</h2>
  {% include twitter.html %}
  <a href="http://twitter.com/meineerde">Read more...</a>
</div>
<div class="clearfix"></div>
