<div id="navbar">
  <ul class="sites">
    <li><a href="http://dev.holgerjust.de">Home of Code</a></li>
    <li><a {% if page.nav_active == "meine-er.de" %}class="active"{% endif %} href="http://meine-er.de">Blog</a></li>
    <li><a {% if page.nav_active == "hlgr.de" %}class="active"{% endif %}href="http://hlgr.de">Tumblr</a></li>
    <li><a {% if page.nav_active == "holgerjust.de" %}class="active"{% endif %}href="http://holgerjust.de">About</a></li>
  </ul>
  
  <ul class="actions">
    <li><a href="http://dev.holgerjust.de">Sign In</a></li>
  </ul>
</div>
