<ul id="twitter_list" class="hfeed">
  <li class="hentry">
    <address class="vcard author hidden">
      <a class="url fn" href="http://twitter.com/meineerde">Holger Just</a>
    </address>
    <a class="twitter_date" href="http://twitter.com/meineerde/21428291279" rel="bookmark"><abbr class="published" title="2010-08-17T21:45:49+02:00">about 11 hours ago</abbr></a>
    <span class="entry-content">Spaten Hell ist tatsächlich richtig gut trinkbar. Und mach weniger Kopfschmerzen als Augustiner.</span>
  </li>
  <li class="hentry">
    <address class="vcard author hidden">
      <a class="url fn" href="http://twitter.com/meineerde">Holger Just</a>
    </address>
    <a class="twitter_date" href="http://twitter.com/meineerde/21427186139" rel="bookmark"><abbr class="published" title="2010-08-17T21:26:27+02:00">about 11 hours ago</abbr></a>
    <span class="entry-content">RT <a class="twitter_user" href="http://twitter.com/Storagezilla">@Storagezilla</a>: Illumos: We're forking and competing against Oracle Solaris.  <a href="http://bit.ly/d8aLEk">http://bit.ly/d8aLEk</a></span>
  </li>
  <li class="hentry">
    <address class="vcard author hidden">
      <a class="url fn" href="http://twitter.com/meineerde">Holger Just</a>
    </address>
    <a class="twitter_date" href="http://twitter.com/meineerde/21406038857" rel="bookmark"><abbr class="published" title="2010-08-17T16:11:22+02:00">about 16 hours ago</abbr></a>
    <span class="entry-content">RT <a class="twitter_user" href="http://twitter.com/butterplanet">@butterplanet</a>: Irre, dieses Street View und was es mit der Privatsphäre macht! Und als Nächstes? Bücher, in denen alle Telefonummern und Adressen stehen?</span>
  </li>
  <li class="hentry">
    <address class="vcard author hidden">
      <a class="url fn" href="http://twitter.com/meineerde">Holger Just</a>
    </address>
    <a class="twitter_date" href="http://twitter.com/meineerde/21406006386" rel="bookmark"><abbr class="published" title="2010-08-17T16:10:54+02:00">about 16 hours ago</abbr></a>
    <span class="entry-content">RT <a class="twitter_user" href="http://twitter.com/linuxtippse">@linuxtippse</a>: Streetview? Was? <a href="http://is.gd/elHt3">http://is.gd/elHt3</a> &quot;Verweigere jemand die Auskunft, drohe ein &quot;Zwangsgeld&quot; von bis zu 5000 Euro.&quot; - DAS ist schlimm!</span>
  </li>
  <li class="hentry">
    <address class="vcard author hidden">
      <a class="url fn" href="http://twitter.com/meineerde">Holger Just</a>
    </address>
    <a class="twitter_date" href="http://twitter.com/meineerde/21405827868" rel="bookmark"><abbr class="published" title="2010-08-17T16:08:21+02:00">about 16 hours ago</abbr></a>
    <span class="entry-content"><a class="twitter_user" href="http://twitter.com/konstantinhaase">@konstantinhaase</a> FTL would be the acronym you were searching for.</span>
  </li>
</ul>