@mixin font-face($family, $filename) {
  @font-face {
    font-family: $family;
    $prefix: "/fonts/" + $family + "/" + $filename;
    src: url($prefix + ".eot");
    src: local("\u263a"), url($prefix + ".woff") format("woff"), url($prefix + ".otf") format("opentype"), url("#{$prefix}.svg##{$filename}") format("svg");
  }
}

@include font-face(Inconsolata, Inconsolata);
