%h2 Holger Just
%p
  Holger is an
  %a{:href => "http://www.hpi.uni-potsdam.de/"} IT-Systems Engineering
  student during days, a
  %a{:href => "http://www.chiliproject.org/"} ChiliProject
  hacker at night, and the IT-Operations hero at
  %a{:href => "http://www.finn.de/"} finnlabs
  in-between. He lives somewhere between Berlin and Potsdam with a slight
  tendency towards Berlin recently. He likes to cook and to eat (which goes
  really well together) and occasionally takes his camera for a stroll.
%p
  You can
  %a{:href => "http://twitter.com/meineerde"} follow him on Twitter
  or
  = succeed "." do
    %a{:href => "http://hlgr.de"} various other sites