#info
  %h2 Holger Just
  %p
    This is my personal website about computers, operating systems, teh
    internets and my way around it. Sometimes you will find a short blip
    of my offline life.
  %p
    More about me can be found on
    %a{:href => "http://twitter.com/meineerde"} Twitter
    and
    = succeed "." do
      %a{:href => "http://xing.com/profile/Holger_Just"} Xing
    You can also
    write an e-mail to
    = succeed "." do
      %em web (at) meine-er (dot) de
#twitter
  %h2 The real life
  = get_tweets(twitter_username)
  %a{:href => "http://twitter.com/#{twitter_username}"} Follow me on twitter...
.clearfix
%p#legal
  All textual work on this website is licensed under
  %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/de/"} cc by-sa 3.0 de
  unless stated otherwise. Source code (-fragments) are licensed under
  %a{:rel => "license", :href => "http://creativecommons.org/licenses/MIT/"} MIT
  unless stated otherwise. Please contact the author if you require a special license.
  This site uses fonts by <a href="http://www.exljbris.nl">Jos Buivenga</a>
  transformed by the awesome <a href="http://www.fontsquirrel.com/fontface/generator">@font-face generator</a>
  by Font Squirrel.

