= render "_navbar", :item => item
%a{:href => "http://github.com/meineerde/website", :id => "github-ribbon"}
  %img{:src => "/media/common/forkme.png", :alt => "Fork me on GitHub", :height => "149", :width => "149"}
#title
  %p
    %a{ :href => "/"}
      - case item[:layout]
        - when nil, "default"
          <em>m</em>eine <em>e</em>rde</a>
        - when "hlgr", "holgerjust"
          Holger Just
          