= render "_navbar", :item => item
%a{:href => "http://github.com/meineerde/website", :id => "github-ribbon"}
  %img{:src => "/media/common/forkme.png", :alt => "Fork me on GitHub"}
#title
  %p
    <a href="/"><em>m</em>eine <em>e</em>rde</a>