%p#legal
  All textual work on this website is licensed under
  %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/de/"} cc by-sa 3.0 de
  unless stated otherwise. Source code (-fragments) are licensed under
  %a{:rel => "license", :href => "http://creativecommons.org/licenses/MIT/"} MIT
  unless stated otherwise. Please contact the author if you require a special license.
  This site uses fonts by <a href="http://www.exljbris.nl">Jos Buivenga</a>
  transformed by the awesome <a href="http://www.fontsquirrel.com/fontface/generator">@font-face generator</a>
  by Font Squirrel.