#navbar
  %ul
    %li
      %a{ :href => "/", :class => 'active' } Blog
    %li
      %a{ :href => "http://dev.holgerjust.de/" } dev.holgerjust.de
    %li
      %a{ :href => "http://hlgr.de/" } Tumblr
    %li
      %a{ :href => "http://holgerjust.de/" } About
    %li.gradient &nbsp;
