#navbar
  %ul
    %li
      %a{ :href => "http://meine-er.de/", :class => ("active" if item[:layout] == "default") } Blog
    %li
      %a{ :href => "http://dev.holgerjust.de/" } dev.holgerjust.de
    %li
      %a{ :href => "http://hlgr.de/", :class => ("active" if item[:layout] == "hlgr") } Hlgr
    %li
      %a{ :href => "http://holgerjust.de/", :class => ("active" if item[:layout] == "holgerjust") } Holger Just
