#navbar
  %ul.sites
    %li
      %a{ :href => "/meine-er.de/", :class => 'active' } Blog
    %li
      %a{ :href => "http://hlgr.de" } Tumblr
    %li
      %a{ :href => "/holgerjust.de/" } About
  %ul.actions
    %li
      %a{ :href => "http://dev.holgerjust.de" } Sign In
