#archive
  %h1= @item[:title]
  %ul
    - items_with_tag(tag).each do |item|
      %li
        %span= time(item[:created_at], '%d %b %Y') + " » "
        = link_to(item[:title], item, :class => "permalink")
