---
layout: hlgr
---

%h1 Contact
%ul.linklist
  %li
    .icon
      %img{ :src => "/media/social/email.png", :alt => "E-Mail", :height => "32", :width => "32"}/
    .description
      E-Mail
      %span hjust (at) meine-er (dot) de
  %li
    .icon
      %a{ :href => "irc://irc.freenode.net" }
        %img{ :src => "/media/social/irc.png", :alt => "IRC", :height => "32", :width => "32"}/
    .description
      %a{ :href => "irc://irc.freenode.net" }
        irc://irc.freenode.net
        %span meineerde
.clearfix

%h1 Websites
%ul.linklist
  %li
    .icon
      %a{ :href => "http://twitter.com/meineerde" }
        %img{ :src => "/media/social/twitter.png", :alt => "Twitter", :height => "32", :width => "32"}/
    .description
      %a{ :href => "https://twitter.com/meineerde" }
        Twitter
        %span @meineerde

  %li
    .icon
      %a{ :href => "http://meine-er.de/+" }
        %img{ :src => "/media/social/gplus.png", :alt => "Google+", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://meine-er.de/+" }
        Google+
        %span Holger Just

  %li
    .icon
      %a{ :href => "http://www.xing.com/profile/Holger_Just" }
        %img{ :src => "/media/social/xing.png", :alt => "Xing", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://www.xing.com/profile/Holger_Just" }
        Xing
        %span Holger Just

  %li
    .icon
      %a{ :href => "http://github.com/meineerde" }
        %img{ :src => "/media/social/github.png", :alt => "Github", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://github.com/meineerde" }
        GitHub
        %span meineerde

  %li
    .icon
      %a{ :href => "http://stackoverflow.com/users/421705/" }
        %img{ :src => "/media/social/stackoverflow.png", :alt => "Stack Overflow", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://stackoverflow.com/users/421705/" }
        Stack Overflow
        %span Holger Just

  %li
    .icon
      %a{ :href => "http://serverfault.com/users/51320/" }
        %img{ :src => "/media/social/serverfault.png", :alt => "Server Fault", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://serverfault.com/users/51320/" }
        Server Fault
        %span Holger Just

  %li
    .icon
      %a{ :href => "http://delicious.com/meine_erde" }
        %img{ :src => "/media/social/delicious.png", :alt => "Delicious", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://delicious.com/meine_erde" }
        Delicious
        %span meine_erde

  %li
    .icon
      %a{ :href => "http://www.flickr.com/photos/meine-erde" }
        %img{ :src => "/media/social/flickr.png", :alt => "Flickr", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://flickr.com/meine-erde" }
        Flickr
        %span meine-erde

  %li
    .icon
      %a{ :href => "http://finn.de/team#h.just" }
        %img{ :src => "/media/social/finn.png", :alt => "Finnlabs", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://finn.de/team#h.just" }
        Finnlabs
        %span My company

.clearfix

%h1 Projects
%ul.linklist
  %li
    .icon
      %a{ :href => "http://dev.holgerjust.de" }
        %img{ :src => "/media/social/home-of-code.png", :alt => "Redmine", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://dev.holgerjust.de" }
        Home of Code
        %span My project space

  %li
    .icon
      %a{ :href => "https://www.chiliproject.org/users/4" }
        %img{ :src => "/media/social/chiliproject.png", :alt => "ChiliProject", :height => "32", :width => "32"}/
    .description
      %a{ :href => "https://www.chiliproject.org/users/4" }
        ChiliProject
        %span Holger Just

  %li
    .icon
      %a{ :href => "http://www.redmine.org/users/2784" }
        %img{ :src => "/media/social/redmine.png", :alt => "Redmine", :height => "32", :width => "32"}/
    .description
      %a{ :href => "http://www.redmine.org/users/2784" }
        Redmine
        %span Holger Just
.clearfix
