@mixin photo() {
  box-shadow: 3px 3px 8px #555;
  -moz-box-shadow: 3px 3px 8px #555;
  -webkit-box-shadow: 3px 3px 8px #555;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#555555', Direction=135, Strength=3);
  
  padding: .5em;
  background-color: #fff;
  border: 1px solid #ddd;
}

.photo {
  @include photo();
  margin: .25em 0 .75em;
}

.photo-left {
  @include photo();
  margin: .25em 1em .75em 0;
  float: left;
}

.photo-right {
  @include photo();
  margin: .25em 0 .75em 1em;
  float: right;
}
