/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

body {
  font: 100% / 1.125 sans-serif;
  &.non-ie { font-size: 16px; }
}

table {
  font-size: inherit;
  font-size: 100%;
}

select, input, textarea { font: 99% sans-serif; }

pre, code, kbd, samp, tt {
  font-family: Inconsolata, monospace, sans-serif; }

body, select, input, textarea { color: $color; }

/* http://www.aestheticallyloyal.com/public/optimize-legibility/ */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  color: lighten($color, 10%);
  border-bottom: 1px solid $color;
  margin: 1em 0 .5em; }

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3, h4, h5, h6 { font-size: 1em; }

/* Accessible focus treatment: http://people.opera.com/patrickl/experiments/keyboard/test */
a {
  &:hover { outline: none; }
  &:active { outline: none; color: #777; }
  &:visited { color: #777; }
  &:hover { color: #222; }
  color: #777;
}

ul { margin-left: 30px; }
ol { margin-left: 30px; list-style-type: decimal; }

small { font-size: 85%; }
strong, th { font-weight: bold; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

td {
  vertical-align: top;
  img {
    vertical-align: top;
  }
}


/* http://tjkdesign.com/ez-css/css/base.css  */

input {
  &[type="radio"] { vertical-align: text-bottom; }
  &[type="checkbox"] { vertical-align: bottom; }
}
.ie input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/*  http://j.mp/webkit-tap-highlight-color */
/* a:link { -webkit-tap-highlight-color: #FF5E99; } */
/* http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

/* http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

.ie7 img { -ms-interpolation-mode: bicubic; }

address {
  display: none;
  visibility: hidden;
}

/* NON-SEMANTIC HELPER CLASSES */

/* for image replacement */

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   http://css-discuss.incutio.com/wiki/Screenreader_Visibility */

.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   http://www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: http://j.mp/visuallyhidden - Thanks Jonathan Neal! */

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

.left  { float: left;  margin: .5em .5em .5em 0; }
.right { float: right; margin: .5em 0 .5em .5em; }
.center { display: block; margin: .5em auto; text-align: center;}

/* >> The Magnificent CLEARFIX << */
.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: inline-block;
}
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* Primary Styles
   Author: 
*/

header, #main, footer { min-width: $content-width + 3em; }
header, #main  { background-color: $outer-background; }
body {
  background-color: #000;
  font-family: MuseoSans, "Trebuchet MS",Helvetica,Verdana,sans-serif;
}
p { line-height: 1.25em; margin-bottom: .75em; }
blockquote {
  border-left: 5px solid #ccc;
  clear:both;
  margin: .5em 0 1em 1em;
  padding-left: .5em;
}

#navbar {
  font-size: .75em; // 12px
  line-height: 1em;
  font-family: "Lucia Grande",Verdana,Helvetica,Arial,sans-serif;
  height: 2.5em;
  background-color: #000;
  
  ul {
    float: left;
    padding: 0 0 0 3em;
    margin: 0;
    li {
      float: left;
      margin-right: .8em;
      list-style-type: none;
    }
  }
  
  a {
    display: block;
    padding: .75em .625em .75em;
    color: #ccc;
    text-decoration: none;
    &:hover, &:focus, &:active {
      color: #fff; } }
  a.active {
    font-weight: bold;
    color: #9ac13a;
    text-shadow: none !important; }
  .sites a {
    &:hover, &:focus, &:active {
      text-shadow: 0 0 10px #fff; } }
}

header { position: relative; }
#github-ribbon img {
  position: absolute;
  top: 1.875em;
  right: 0;
}

#title, #content, #byline {
  clear: both;
  margin: 0 auto;
  width: $content-width; }

#title, #byline {
  text-rendering: optimizeLegibility;
  color: #9ac13a;
  text-decoration: none;

  p {
    font-size: 2em;
    font-weight: bold;
    padding: 1.25em .375em .5em 0;
    margin: 0;
    line-height: 1.25em; }
  a {
    color: #9ac13a;
    text-decoration: none; }
  em {
    color: #eee;
    font-style: normal;
  }
}

#content {
  padding: 1em 4em 2em 3em; // Additional 2em on top by first child
  width: $content-width - 7em;
  background-color: $background;
  box-shadow: 3px 3px 15px #000;
  -moz-box-shadow: 3px 3px 15px #000;
  -webkit-box-shadow: 3px 3px 15px #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#222222', Direction=135, Strength=6);

  h1,h2,h3,h4,h5,h6 {
    a{text-decoration: none;}
  }
}

.article p.meta {
  color: lighten($color, 20%);
  margin-bottom: 1em;
}
h1.title {
  margin: 0 0 .25em;
  a { color: lighten($color, 10%) !important; }
}

#archive{
  padding-top: .5em; // to have a 2em top margin
  h1 { font-size: 1.5em; }
  
  ul { list-style-type: none; margin: 0;}
  li { line-height: 1.25em; }
  span {
    font-family: Inconsolata, monospace, sans-serif; 
    font-size: .875em;
    color: lighten($color, 20%);
  }
}

#tagcloud {
  h1 { font-size: 1.5em; }
  
  .tags {
    width: 70%;
    margin: 0 auto;
  }
  .cloud-0 { font-size: 2em;   }
  .cloud-1 { font-size: 1.5em; }
  .cloud-2 { font-size: 1.2em; }
  .cloud-3 { font-size: 1em;   }
  .cloud-4 { font-size: .75em; }
}


.prevnext {
  margin: 0;
  li {
    width: 50%;
    list-style-type: none;
  }
  &.top li { margin: 2em 0 1em; }
  &.bottom li { margin: 1em 0 0; }

  .previous { float: left; }
  .next { float: right; text-align: right;}
}

#byline {
  padding: .75em 0 1.5em; }


$footer-color: #777;
footer {
  color: $footer-color;
  min-width: $content-width - 4em;

  padding: 1em 4em 2em 3em;
  /* 2em additional top padding via first h1 */
  h1, h2, h3 {
    border: 0 none;
  }

  a {
    color: $footer-color;
    &:hover, &:focus, &:active {
      color: #999;
    }
  }
}
#info {
  $size: .875;
  font-size: 1em * $size;

  float: left;
  width: 25em/$size;
}
#twitter {
  $size: .875;
  font-size: 1em * $size;
  
  border-left: 27em/$size #000 solid;
  h2 {
    background: url(/media/common/twitter.png) no-repeat 0 -.0625em;
    padding-left: 30px;
  }
  ul { list-style-type: none; margin: 0em; }
  li { margin: 0 0 1em 0; }
}
.twitter_date { font-size: .75em;}


#legal {
  margin-top: 2em;
  font-size: .875em;
  color: darken($footer-color, 10%);
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }
  a {
    color: #444 !important;
    text-decoration: underline;
    &:visited {
      color: #444 !important;
      text-decoration: underline; }
    &:after {
      content: " (" attr(href) ")"; } }
  abbr:after {
    content: " (" attr(title) ")"; }
  .ir a:after {
    content: ""; }
  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }


/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }


@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }


/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; } }
